h2{
    color: black;
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
}

.showcase-cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 4rem auto;
  max-width: 1200px;
}

.showcase-card {
  /* Basic card styling */
  background: #fff;
  max-width: 450px; /* Adjust as needed */
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card Image */
.showcase-card img {
  width: 100%;
  height: 50%;
  display: block;
  border-radius: .5rem;
}

/* Card Heading */
.showcase-card h3 {
  font-size: 1.1rem;
  margin: 0.8rem 0;
  font-weight: 600;
  padding: 0 1rem;
}

/* Card Paragraph */
.showcase-card p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #666;
  padding: 0 1rem;
}

/* Card Button */
.showcase-card button {
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: kanit;
  display: flex;
  align-items: center;
  gap: 1rem;margin-bottom: 1rem;
  background-color: #fff;
}

.showcase-card button:hover {
  cursor: pointer;
  color: #000;
}

.showcase-card button:hover img{
  filter: contrast(.6);
  cursor: pointer;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .showcase-cards {
    flex-direction: column;
    align-items: center;
  }
  .showcase-card {
    width: 80%;
    margin-bottom: 2rem;
  }
}
