.scroll-to-top-btn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s;
  justify-self: flex-end;
}

.scroll-to-top-btn:hover {
  background-color: #010a3f;
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.scroll-to-top-btn:active {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .scroll-to-top-btn {
    width: 10px;
    height: 10px;
    font-size: 6px;
  }
}
