.onboarding-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.onboarding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(
    115.32deg,
    #47abe5 3.24%,
    #3f75cd 30.06%,
    #2e6793 67.13%
  );
  border-radius: 12px;
  width: 90%;
  max-width: 50rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  height: fit-content;
}

.onboarding-header {
  margin-bottom: 20px;
  width: 100%;
}

.onboarding-header h1 {
  font-size: 24px;
  font-weight: bold;
  width: 90%;
}

.onboarding-header p {
  font-size: 16px;
  margin-top: 10px;
  width: 90%;
  
}

.onboarding-progress {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  height: fit-content;
}

.onboarding-progress-left{
    width: 70%;
}

.onboarding-progress-right{
    width: 30%;
}

.onboarding-progress p {
  font-size: 12px;
  margin-bottom: 2px;
}

.prog{
    display: flex;
    align-items: first baseline;
    gap: 10px;
    padding: 0;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background: #00c853;
  transition: width 0.3s ease;
}



.onboarding-content {
  background: white;
  color: black;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.onboarding-tabs {
  display: flex;
  justify-content: start;
  gap: 3rem;
  margin-bottom: 20px;
}

.tab {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.tab.active {
  color: #007bff;
}

.onboarding-step h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.onboarding-step p {
  font-size: 16px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.options label {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.onboarding-info{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.onboarding-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.onboarding-right,.onboarding-left{
    height: 100%;
    width: 100%;

}

.edu-img{
    margin-top: -4rem !important;
    width: 18rem !important;
    height: auto !important;
}

.edu-img img{
  width: 100%;
  height: 100%;
}



.onboarding-info img{
    width: 100%;
    height: 100%;
}

.onboarding-buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.skip-button,
.next-button,
.bac-button,
.start-button {
  padding: .7rem 2.5rem;
  font-family: kanit;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid #000000;
  background: white;
  color: #007bff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skip-button:hover,
.next-button:hover,
.back-button:hover,
.start-button:hover {
  background: #007bff;
  color: white;
}

.welcome-image {
  text-align: center;
  margin-bottom: 20px;
  width: 19rem;
  height: auto;
  margin-top: -2rem;
}

.welcome-img {
  width: 100%;
  height: auto;
  margin-left: -2rem;
}
